<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">
          站點
        </h2>
      </div>
      <!-- Page title actions -->
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <a href="javascript:show_site_modal()" class="btn btn-primary d-none d-sm-inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
              stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <line x1="12" y1="5" x2="12" y2="19" />
              <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
            新增站點
          </a>
          <a href="javascript:show_site_modal()" class="btn btn-primary d-sm-none btn-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
              stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <line x1="12" y1="5" x2="12" y2="19" />
              <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
          </a>
          <a href="javascript:show_sitetest_modal()" class="btn d-none d-sm-inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-activity-heartbeat" width="24"
              height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M3 12h4.5l1.5 -6l4 12l2 -9l1.5 3h4.5"></path>
            </svg>
            站點測試
          </a>
          <a href="javascript:show_sitetest_modal()" class="btn d-sm-none btn-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-activity-heartbeat" width="24"
              height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M3 12h4.5l1.5 -6l4 12l2 -9l1.5 3h4.5"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% if Sites %}
<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      {% for Site in Sites %}
      <div class="col-12 col-md-6 col-xl-4">
        <div class="card card-link-pop">
          <div class="card-header">
            <h3 class="card-title">
              <span class="badge badge-pill bg-teal"><small>{{ Site.pri }}</small></span>
              <a href="{% if Site.signurl %}{{ Site.signurl }}{% else %}javascript:void(0){% endif %}" {% if Site.signurl
                %}target="_blank" {% endif %}><strong>{{ Site.name }}</strong></a>
            </h3>
            <div class="card-actions btn-actions">
              <a href="javascript:edit_site('{{ Site.id }}')" class="btn-action" title="編輯站點">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24"
                  stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
                  <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
                  <line x1="16" y1="5" x2="19" y2="8" />
                </svg>
              </a>
              <a href="javascript:show_site_cookie_ua_modal('{{ Site.id }}', '{{ Site.name }}')" class="btn-action" title="更新站點Cookie和User-Agent">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-refresh-dot" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                   <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path>
                   <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path>
                   <circle cx="12" cy="12" r="1"></circle>
                </svg>
              </a>
              <a href="javascript:remove_site('{{ Site.name }}', '{{ Site.id }}')" class="btn-action" title="刪除站點">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                  stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <desc>Download more icon variants from https://tabler-icons.io/i/x</desc>
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <line x1="18" y1="6" x2="6" y2="18" />
                  <line x1="6" y1="6" x2="18" y2="18" />
                </svg>
              </a>
            </div>
          </div>
          <div class="card-body">
            <dl class="row">
              {% if Site.signurl %}
              <dt class="col-3">站點地址:</dt>
              <dd class="col-9">{{ Site.signurl }}</dd>
              {% endif %}
              {% if Site.cookie %}
              <dt class="col-3">COOKIE:</dt>
              <dd class="col-9">***</dd>
              {% endif %}
              {% if Site.rssurl %}
              <dt class="col-3">RSS地址:</dt>
              <dd class="col-9">***</dd>
              {% endif %}
              {% if Site.rule %}
              <dt class="col-3">過濾規則:</dt>
              <dd class="col-9"><span class="badge bg-orange me-2">{{ RuleGroups[Site.rule|string] }}</span></dd>
              {% endif %}
            </dl>
            <div class="row">
              <div class="col">
                {% if Site.signin_enable and (Site.signurl or Site.rssurl) %}
                <span class="badge bg-blue-lt mb-1 me-1">簽到</span>
                {% endif %}
                {% if Site.rss_enable and Site.rssurl %}
                <span class="badge bg-azure-lt mb-1 me-1">訂閱</span>
                {% endif %}
                {% if Site.brush_enable and Site.rssurl %}
                <span class="badge bg-indigo-lt mb-1 me-1">刷流</span>
                {% endif %}
                {% if Site.statistic_enable and (Site.signurl or Site.rssurl) %}
                <span class="badge bg-purple-lt mb-1 me-1">資料統計</span>
                {% endif %}
                {% if Site.parse == 'Y' %}
                <span class="badge bg-pink-lt mb-1 me-1">解析</span>
                {% endif %}
                {% if Site.unread_msg_notify == 'Y' %}
                <span class="badge bg-orange-lt mb-1 me-1">訊息</span>
                {% endif %}
                {% if Site.chrome == 'Y' %}
                <span class="badge bg-yellow-lt mb-1 me-1">模擬</span>
                {% endif %}
                {% if Site.proxy == 'Y' %}
                <span class="badge bg-lime-lt mb-1 me-1">代理</span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% else %}
<div class="page-body">
  <div class="container-xl d-flex flex-column justify-content-center">
    <div class="empty">
      <div class="empty-img"><img src="./static/img/sign_in.svg" height="128" alt="">
      </div>
      <p class="empty-title">沒有站點</p>
      <p class="empty-subtitle text-muted">
        沒有新增任何站點，請點選”新增站點“按鈕。
      </p>
    </div>
  </div>
</div>
{% endif %}
<div class="modal modal-blur fade" id="modal-site" tabindex="-1" role="dialog" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-site-title">新增站點</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label required">名稱</label>
              <input type="hidden" id="site_id" />
              <input type="text" class="form-control" id="site_name" placeholder="自定義站點名稱">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label">優先順序 <span class="form-help" title="多個站點同時命中訂閱時選擇下載的優先順序，數值越小優先順序越高"
                  data-bs-toggle="tooltip">?</span></label>
              <select class="form-select" id="site_pri">
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label required">站點地址 <span class="form-help"
                  title="站點訪問地址，自動簽到、站點資料統計、刷流、內建索引器等將使用，有獨立簽到頁面的站點可以配置為簽到頁面，否則可以配置為首頁"
                  data-bs-toggle="tooltip">?</span></label>
              <input type="text" class="form-control" id="site_signurl" value="" placeholder="站點http地址">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label required">站點用途 <span class="form-help" title="設定站點使用場景，選中的場景才會使用該站點"
                  data-bs-toggle="tooltip">?</span></label>
              <div class="form-selectgroup">
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="site_uses" value="Q" class="form-selectgroup-input" checked>
                  <span class="form-selectgroup-label">簽到</span>
                </label>
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="site_uses" value="D" class="form-selectgroup-input" checked>
                  <span class="form-selectgroup-label">訂閱</span>
                </label>
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="site_uses" value="S" class="form-selectgroup-input" checked>
                  <span class="form-selectgroup-label">刷流</span>
                </label>
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="site_uses" value="T" class="form-selectgroup-input" checked>
                  <span class="form-selectgroup-label">資料統計</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="mb-3">
            <label class="form-label">COOKIE <span class="form-help"
                title="站點的Cookie，用於站點自動簽到、站點資料統計、刷流、內建索引器等，需要在瀏覽器中F12->網路頁抓取" data-bs-toggle="tooltip">?</span></label>
            <textarea class="form-control" id="site_cookie" rows="2" placeholder="站點COOKIE"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="mb-3">
              <label class="form-label">RSS訂閱地址 <span class="form-help" title="站點訂閱源URL地址，用於電影、電視劇訂閱、刷流，點選站點RSS圖示獲取"
                  data-bs-toggle="tooltip">?</span></label>
              <input type="text" class="form-control" id="site_rssurl" value="" placeholder="站點RSS訂閱URL">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="mb-3">
              <label class="form-label required">RSS解析種子詳情 <span class="form-help"
                  title="選擇是時RSS訂閱會解析站點種子詳情頁面獲取種子FREE及HR狀態，會增加站點訪問壓力；選擇否時無法判斷FREE種，無法實現FREE優先規則；刷流不受此限制"
                  data-bs-toggle="tooltip">?</span></label>
              <select class="form-select" id="site_parse">
                <option value="Y" selected>是</option>
                <option value="N">否</option>
              </select>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="mb-3">
              <label class="form-label">過濾規則 <span class="form-help"
                  title="選擇該站點使用的過濾規則組，在設定->過濾規則中設定規則，選擇了過濾規則後該站點只有符合規則的種子才會被命中下載；僅作用於RSS、內建索引自動搜尋，刷流等不受此限制"
                  data-bs-toggle="tooltip">?</span></label>
              <select class="form-select" id="site_rule">
                <option value="" selected>請選擇</option>
                {% for Id, Attr in RuleGroups.items() %}
                <option value="{{ Id }}">{{ Attr }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="mb-3">
              <label class="form-label required">傳送站點未讀訊息通知 <span class="form-help" title="選擇是時檢測到站點有未讀訊息會透過訊息推送通知"
                  data-bs-toggle="tooltip">?</span></label>
              <select class="form-select" id="site_unread_msg_notify">
                <option value="Y" selected>是</option>
                <option value="N">否</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="mb-3">
              <label class="form-label required">開啟瀏覽器模擬 <span class="form-help"
                  title="開啟後站點簽到、資料統計可以相容更多站點，但獲取資料耗時會大幅增加；需要拉取含瀏覽器核心的映象才能使用" data-bs-toggle="tooltip">?</span></label>
              <select class="form-select" id="site_chrome">
                <option value="Y" selected>是</option>
                <option value="N">否</option>
              </select>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="mb-3">
              <label class="form-label required">使用代理伺服器 <span class="form-help"
                  title="開啟後該站點的訪問將使用代理伺服器，代理需在基礎設定->系統->代理伺服器中設定" data-bs-toggle="tooltip">?</span></label>
              <select class="form-select" id="site_proxy">
                <option value="Y" selected>是</option>
                <option value="N">否</option>
              </select>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="mb-3">
              <label class="form-label required">從詳情頁下載字幕 <span class="form-help"
                  title="開啟後將查詢該種子詳情頁是否有提供字幕，如有則會自動下載" data-bs-toggle="tooltip">?</span></label>
              <select class="form-select" id="site_subtitle">
                <option value="Y" selected>是</option>
                <option value="N">否</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label class="form-label">User-Agent <span class="form-help"
                  title="站點簽到/資料獲取/搜尋請求時使用的User-Agent，為空則使用基礎配置中User-Agent設定" data-bs-toggle="tooltip">?</span></label>
              <input type="text" class="form-control" id="site_ua" value="" placeholder="站點訪問User-Agent">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="site_close_btn" class="btn btn-link">
          關閉
        </button>
        <button id="add_or_edit_site_btn" class="btn btn-primary ms-auto">
          新增
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-sitetest" tabindex="-1" role="dialog" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">站點連通性測試</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="table-responsive" style="min-height: 300px">
        <table class="table table-vcenter card-table">
          <thead>
            <tr>
              <th class="w-1"><input class="form-check-input m-0 align-middle" id="sitetest_check_all_btn"
                  type="checkbox" aria-label="全選"></th>
              <th>站點</th>
              <th>連通性</th>
              <th>耗時</th>
              <th>錯誤資訊</th>
            </tr>
          </thead>
          <tbody>
            {% for Site in Sites %}
            <tr>
              <td class="w-1"><input class="form-check-input m-0 align-middle" id="check_{{ Site.id }}" type="checkbox">
              </td>
              <td><span>{{ Site.name }}</span></td>
              <td id="sitetest_item{{ Site.id }}"></td>
              <td id="sitetest_item{{ Site.id }}_time"></td>
              <td id="sitetest_item{{ Site.id }}_msg"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link me-auto" data-bs-dismiss="modal">取消</button>
        <button id="sitetest_btn" class="btn btn-primary">測試</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-update-site-cookie" tabindex="-1" role="dialog" aria-hidden="true"
     data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cookieua_modal_title">更新站點</h5>
        <input type="hidden" id="cookieua_siteid">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg">
            <div class="mb-3">
              <label class="form-label required">使用者名稱</label>
              <input type="text" value="" id="cookieua_username" class="form-control" placeholder="站點登入使用者名稱">
            </div>
          </div>
          <div class="col-lg">
            <div class="mb-3">
              <label class="form-label required">密碼</label>
              <input type="password" value="" id="cookieua_password" class="form-control" placeholder="登入密碼">
            </div>
          </div>
          <div class="col-lg">
            <div class="mb-3">
              <label class="form-label">兩步驗證</label>
              <input type="text" value="" id="cookieua_two_step_code" class="form-control" placeholder="如有設定必須填寫">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4">
            <div class="mb-3">
              <label class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="cookieua_ocrflag">
                <span class="form-check-label">自動識別驗證碼 <span class="form-help"
                                                              title="開啟時將自動識別驗證碼並填入，關閉時將顯示驗證碼圖片並要求手動填入"
                                                              data-bs-toggle="tooltip">?</span></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="progress progress-sm rounded-0" id="sitecookie_process_bar_div">
        <div class="progress-bar progress-bar-animated progress-bar-indeterminate" id="sitecookie_process_bar"
             style="width: 0" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>
      <div class="modal-body" id="cookieua_result_div" style="display: none">
        <div class="row">
          <div class="alert" id="cookieua_result" role="alert">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-link link-secondary me-auto" data-bs-dismiss="modal">
          取消
        </button>
        <button onclick="update_site_cookie_ua()" id="sitecookie_action_btn" class="btn btn-primary">開始更新</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-captcha-code" tabindex="-1" role="dialog" aria-hidden="true"
     data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <label class="form-label required">請在 30秒 內輸入驗證碼</label>
          <div class="row mb-3">
            <div class="col-auto">
              <input type="hidden" id="captcha_key" value="">
              <img id="captcha_code_img" src="" alt="">
            </div>
            <div class="col">
              <input class="form-control" id="captcha_code" placeholder="">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:submit_captcha_code()" class="btn btn-primary">提交</a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  //開啟新增站點框
  function show_site_modal() {
    $("#site_id").val('');
    $("#site_name").val('');
    $("#site_pri").val('1');
    $("#site_rssurl").val('');
    $("#site_signurl").val('');
    $("#site_cookie").val('');
    $("#site_rule").val('');
    $("#site_ua").val('');
    $("#site_chrome").val('N');
    $("#site_proxy").val('N');
    $("#site_parse").val('Y');
    $("#site_subtitle").val('N');
    $("#site_unread_msg_notify").val('Y');
    $("#site_close_btn").text("關閉");
    $("#modal-site-title").text("新增站點");
    $("#add_or_edit_site_btn").text("新增");
    $("#modal-site").modal("show");
  }
  //編輯站點
  function edit_site(tid) {
    $("#site_id").val(tid);
    $("#site_close_btn").text("刪除");
    //根據ID查詢詳細資訊
    ajax_post("get_site", { "id": tid }, function (ret) {
      if (ret.site) {
        $("#site_id").val(ret.site.id);
        $("#site_name").val(ret.site.name);
        $("#site_pri").val(ret.site.pri);
        $("#site_rssurl").val(ret.site.rssurl);
        $("#site_signurl").val(ret.site.signurl);
        $("#site_cookie").val(ret.site.cookie);
        $("#site_parse").val(ret.site.parse);
        $("#site_ua").val(ret.site.ua);
        $("#site_chrome").val(ret.site.chrome);
        $("#site_proxy").val(ret.site.proxy);
        $("#site_subtitle").val(ret.site.subtitle);
        $("#site_unread_msg_notify").val(ret.site.unread_msg_notify)
        $("input[name=site_uses]").each(function () {
          $(this).prop("checked", false);
        });
        $("input[name=site_uses]").each(function () {
          if ($(this).val() == "Q" && ret.site.signin_enable) {
            $(this).prop("checked", true);
          }
          if ($(this).val() == "D" && ret.site.rss_enable) {
            $(this).prop("checked", true);
          }
          if ($(this).val() == "S" && ret.site.brush_enable) {
            $(this).prop("checked", true);
          }
          if ($(this).val() == "T" && ret.site.statistic_enable) {
            $(this).prop("checked", true);
          }
        });
        $("#modal-site-title").text("編輯站點");
        $("#add_or_edit_site_btn").text("修改");
        $("#modal-site").modal("show");
      }
      $("#site_rule").val(ret.site.rule);
    });
  }

  //刪除站點
  function del_site(tid) {
    ajax_post("del_site", { "id": tid }, function (ret) {
      navmenu('site');
    });
  }

  //新增站點
  function add_or_edit_site() {
    //id
    let site_id = $("#site_id").val();
    //名稱
    let site_name = $("#site_name").val();
    if (site_name == "") {
      $("#site_name").addClass("is-invalid");
      return;
    } else {
      $("#site_name").removeClass("is-invalid");
    }
    //優先順序
    let site_pri = $("#site_pri").val();
    if (site_pri) {
      $("#site_pri").removeClass("is-invalid");
    } else {
      $("#site_pri").addClass("is-invalid");
      return;
    }
    //簽到URL
    let site_signurl = $("#site_signurl").val();
    if (!site_signurl || site_signurl.startsWith('http')) {
      $("#site_signurl").removeClass("is-invalid");
    } else {
      $("#site_signurl").addClass("is-invalid");
      return;
    }
    //Cookie
    let site_cookie = $("#site_cookie").val();
    //RSS URL
    let site_rssurl = $("#site_rssurl").val();
    if (site_rssurl) {
      if (site_rssurl.startsWith('http')) {
        $("#site_rssurl").removeClass("is-invalid");
      } else {
        $("#site_rssurl").addClass("is-invalid");
        return;
      }
    }
    let site_rule = $("#site_rule").val();
    let site_parse = $("#site_parse").val();
    let site_unread_msg_notify = $("#site_unread_msg_notify").val();
    let site_uses = "";
    $("input[name=site_uses]").each(function () {
      if ($(this).prop("checked")) {
        site_uses = site_uses + $(this).val();
      }
    });
    if (site_uses.match(/[DS]/) && !site_rssurl) {
      $("#site_rssurl").addClass("is-invalid");
      return;
    } else {
      $("#site_rssurl").removeClass("is-invalid");
    };
    let ua = $("#site_ua").val();
    let chrome = $("#site_chrome").val();
    let proxy = $("#site_proxy").val();
    let subtitle = $("#site_subtitle").val();
    let data = {
      "site_id": site_id,
      "site_name": site_name,
      "site_pri": site_pri,
      "site_rssurl": site_rssurl,
      "site_signurl": site_signurl,
      "site_cookie": site_cookie,
      "site_include": site_uses,
      "site_note": {
        "rule": site_rule,
        "parse": site_parse,
        "ua": ua,
        "chrome": chrome,
        "proxy": proxy,
        "message": site_unread_msg_notify,
        "subtitle": subtitle
      }
    }

    $("#add_or_edit_site_btn").text("處理中...").attr("disabled", true);
    // 傳送請求
    ajax_post("update_site", data, function (ret) {
      $("#add_or_edit_site_btn").attr("disabled", false).text("新增");
      $("#modal-site").modal("hide");
      //重新整理頁面
      navmenu('site');
    });
  }

  //關閉或者刪除
  function close_or_del() {
    $("#modal-site").modal("hide");
    tid = $("#site_id").val();
    if (tid) {
      del_site(tid);
    }
  }

  //繫結事件
  $("#add_or_edit_site_btn").click(function () {
    add_or_edit_site();
  });
  $("#site_close_btn").click(function () {
    close_or_del();
  });

  //刪除站點
  function remove_site(name, siteid) {
    show_ask_modal("是否確認刪除站點 " + name + "？", function () {
      hide_ask_modal();
      del_site(siteid);
    });
  }

  // 優先順序
  for (let i = 1; i <= 50; i++) {
    $("#site_pri").append('<option value="' + i + '">' + i + '</option>');
  }

  //全選事件
  $("#sitetest_check_all_btn").change(function () {
    $("#modal-sitetest input[type=checkbox]").prop("checked", $(this).prop("checked"));
  });

  //顯示測試站點
  function show_sitetest_modal() {
    $("#modal-sitetest").modal("show");
  }

  //測試一個站點
  var total_test_sites = 0
  var finished_test_sites = 0
  function test_one_site(siteid) {
    if (!siteid) {
      return;
    }
    $("#sitetest_btn").attr("disabled", true);
    $("#sitetest_btn").text("測試中...");
    total_test_sites = total_test_sites + 1;
    ajax_post("test_site", { id: siteid }, function (ret) {
      finished_test_sites = finished_test_sites + 1;
      if (finished_test_sites >= total_test_sites) {
        $("#sitetest_btn").attr("disabled", false);
        $("#sitetest_btn").text("測試");
        total_test_sites = 0
        finished_test_sites = 0
      }
      if (ret.code == 0) {
        $(`#sitetest_item${siteid}`).html('<span class="badge bg-green me-1 mb-1">是</span>');
        $(`#sitetest_item${siteid}_time`).html(`<span class="text-green">${ret.time} 毫秒</span>`);
        $(`#sitetest_item${siteid}_msg`).html('');
      } else {
        $(`#sitetest_item${siteid}`).html('<span class="badge bg-red me-1 mb-1">否</span>');
        $(`#sitetest_item${siteid}_time`).html(`<span class="text-red">${ret.time} 毫秒</span>`);
        $(`#sitetest_item${siteid}_msg`).html(`<span class="text-muted">${ret.msg}</span>`);
      }
    });
  }

  // 顯示更新站點Cookie和UA對話方塊
  function show_site_cookie_ua_modal(siteid, sitename){
    $("#cookieua_siteid").val(siteid);
    $("#cookieua_modal_title").text("更新站點Cookie - " + sitename);
    $("#cookieua_result_div").hide();
    $("#sitecookie_process_bar").attr("style", "width: 0").attr("aria-valuenow", 0);
    $("#sitecookie_process_bar_div").hide();
    $("#modal-update-site-cookie").modal("show");
  }

  // 當前正在處理的站點
  var refresh_sitecookie_current = "";
  // 更新站點Cookie和UA
  function update_site_cookie_ua(){
    $("#cookieua_result_div").hide();
    $("#sitecookie_process_bar").attr("style", "width: 0").attr("aria-valuenow", 0);
    let siteid = $("#cookieua_siteid").val();
    let username = $("#cookieua_username").val();
    if (!username) {
      $("#cookieua_username").addClass("is-invalid");
      return;
    }else{
      $("#cookieua_username").removeClass("is-invalid");
    }
    let password = $("#cookieua_password").val();
    if (!password) {
      $("#cookieua_password").addClass("is-invalid");
      return;
    }else{
      $("#cookieua_password").removeClass("is-invalid");
    }
    let cookieua_two_step_code = $("#cookieua_two_step_code").val();

    $("#sitecookie_action_btn").text("正在更新...").attr("disabled", true);
    let ocrflag = $("#cookieua_ocrflag").prop("checked");
    // 重新整理進度
    refresh_sitecookie_current = siteid;
    refresh_sitecookie_process_flag = true;
    refresh_sitecookie_fail_count = 0;
    refresh_sitecookie_process(siteid);
    // 傳送請求
    ajax_post("update_sites_cookie_ua", { siteid: siteid,
                                          username: username,
                                          password: password,
                                          ocrflag: ocrflag,
                                          two_step_code: cookieua_two_step_code
                                          }, function (ret) {
      $("#sitecookie_process_bar").attr("style", "width: 100%").attr("aria-valuenow", 100);
      $("#sitecookie_action_btn").attr("disabled", false).text("開始更新");
      if (ret.code === 0) {
        $("#cookieua_result").removeClass().addClass("alert alert-success").text(ret.messages);
      }else{
        $("#cookieua_result").removeClass().addClass("alert alert-warning").text(ret.messages);
      }
      $("#cookieua_result_div").show();
      refresh_sitecookie_current = "";
    });

  }

  // 重新整理進度標誌
  var refresh_sitecookie_process_flag = false;
  // 重新整理進度失敗次數
  var refresh_sitecookie_fail_count = 0;
  // 重新整理站點更新進度，顯示驗證碼
  function refresh_sitecookie_process(siteid) {
    if (!refresh_sitecookie_process_flag) {
      return;
    }
    if (siteid != refresh_sitecookie_current) {
      return;
    }
    $("#sitecookie_process_bar_div").show();
    ajax_post("refresh_process", {type: "sitecookie"}, function (ret) {
      if (ret.code === 0 && ret.value <= 100) {
        // 更新進度條
        $("#sitecookie_process_bar").attr("style", "width: " + ret.value + "%").attr("aria-valuenow", ret.value);
        // 判斷是否要輸入驗證碼
        if(ret.text.startsWith("data:image")){
          let code_img = ret.text.split("|")[0]
          let code_key = ret.text.split("|")[1]
          show_captcha_code_modal(code_img, code_key, siteid);
        }
        if (ret.value === 100) {
          refresh_sitecookie_fail_count = refresh_sitecookie_fail_count + 1;
        }

      } else {
        refresh_sitecookie_fail_count = refresh_sitecookie_fail_count + 1;
      }
      if (refresh_sitecookie_fail_count < 5) {
        setTimeout("refresh_sitecookie_process("+siteid+")", 1000);
      }
    });
  }

  // 超時隱藏驗證碼對話方塊並恢復更新進度
  function sitecookie_captcha_timeout(siteid) {
    $("#modal-captcha-code").modal("hide");
    if (siteid != refresh_sitecookie_current) {
      return;
    }
    // 恢復重新整理
    refresh_sitecookie_process_flag = true;
    refresh_sitecookie_fail_count = 0;
    refresh_sitecookie_process(siteid);
    $("#modal-update-site-cookie").modal("show");
  }

  // 顯示驗證碼輸入框
  function show_captcha_code_modal(code_img, code_key, siteid) {
    // 關閉上一個框
    $("#modal-update-site-cookie").modal("hide");
    // 暫停獲取狀態
    refresh_sitecookie_process_flag = false;
    refresh_sitecookie_fail_count = 0;
    // 顯示新框
    $("#captcha_key").val(code_key);
    $("#captcha_code_img").attr("src", code_img);
    $("#captcha_code").val("");
    $("#modal-captcha-code").modal("show");
    // 超時關閉
    setTimeout("sitecookie_captcha_timeout("+siteid+")", 30000);
  }

  // 輸入驗證碼
  function submit_captcha_code(){
    let code = $("#captcha_key").val();
    let value = $("#captcha_code").val();
    if (!value) {
      $("#captcha_code").addClass("is-invalid");
      return;
    }else{
      $("#captcha_code").removeClass("is-invalid");
    }
    ajax_post("set_site_captcha_code", {code: code, value: value}, function (ret) {
      if (ret.code === 0) {
        // 重新重新整理狀態
        refresh_sitecookie_process_flag = true;
        refresh_sitecookie_fail_count = 0;
        setTimeout("refresh_sitecookie_process("+refresh_sitecookie_current+")", 2000);
        // 關閉框
        $("#modal-captcha-code").modal("hide");
        // 顯示原框
        $("#modal-update-site-cookie").modal("show");
      }
    });
  }

  // 站點測試按鈕
  $("#sitetest_btn").click(function () {
    $("#modal-sitetest input[type=checkbox]").each(function () {
      if ($(this).attr("id").startsWith("check_") && $(this).prop("checked")) {
        let siteid = $(this).attr("id").replace("check_", "");
        test_one_site(siteid);
      }
    });
  });

</script>