<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">
          豆瓣
        </h2>
      </div>
    </div>
  </div>
</div>
<!-- 業務頁面程式碼 -->
<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-md-12">
        <div class="card" id="config_douban">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-3">
                <div class="mb-3">
                  <label class="form-label required">豆瓣使用者ID <span class="form-help"
                                                                      title="如有多個豆瓣使用者ID，使用英文逗號,分隔"
                                                                      data-bs-toggle="tooltip">?</span></label>
                  <input type="text" value="{% if Config.douban.users %}{{ Config.douban.users|join(',') }}{% endif %}"
                         class="form-control" id="douban.users" placeholder="使用者1,使用者2,使用者3" autocomplete="off">
                </div>
              </div>
              <div class="col-xl-3">
                <div class="mb-3">
                  <label class="form-label required">同步週期(天) <span class="form-help"
                                                                        title="同步多少天內標記的豆瓣資料"
                                                                        data-bs-toggle="tooltip">?</span></label>
                  <input type="text" value="{{ Config.douban.days or '' }}" class="form-control" id="douban.days"
                         placeholder="30" autocomplete="off">
                </div>
              </div>
              <div class="col-xl-3">
                <div class="mb-3">
                  <label class="form-label required">同步間隔(小時) <span class="form-help"
                                                                          title="每隔多長時間同步一次豆瓣標記資料"
                                                                          data-bs-toggle="tooltip">?</span></label>
                  <input type="text" value="{{ Config.douban.interval or '' }}" class="form-control"
                         id="douban.interval" placeholder="留空關閉豆瓣同步" autocomplete="off">
                </div>
              </div>
              <div class="col-xl-3">
                <div class="mb-3">
                  <label class="form-label required">同步資料型別 <span class="form-help"
                                                                        title="同步哪些型別的收藏資料：do 在看，wish 想看，collect 看過，用英文逗號,分隔配置"
                                                                        data-bs-toggle="tooltip">?</span></label>
                  <input type="text" value="{{ Config.douban.types or '' }}" class="form-control" id="douban.types"
                         placeholder="do,wish,collect">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label required">豆瓣Cookie <span class="form-help"
                                                                      title="部分電影需要配置Cookie才能同步到資料"
                                                                      data-bs-toggle="tooltip">?</span></label>
                  <input type="text" value="{{ Config.douban.cookie or '' }}" class="form-control" id="douban.cookie"
                         placeholder="" autocomplete="off">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-3">
                <div class="mb-3">
                  <label class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="douban.auto_search" {% if
                      Config.douban.auto_search %}checked{% endif %}>
                    <span class="form-check-label">自動搜尋下載 <span class="form-help"
                                                                      title="開啟後豆瓣同步的資料會自動進行站點聚合檢索下載"
                                                                      data-bs-toggle="tooltip">?</span></span>
                  </label>
                </div>
              </div>
              <div class="col-xl-3">
                <div class="mb-3">
                  <label class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="douban.auto_rss"
                           {% if Config.douban.auto_rss %}checked{% endif %}>
                    <span class="form-check-label">自動新增訂閱 <span class="form-help"
                                                                      title="開啟後未進行搜尋下載或搜尋下載不完整的將加入RSS訂閱"
                                                                      data-bs-toggle="tooltip">?</span></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row align-items-center">
              <div class="col-auto">
                <a href="javascript:void(0)" class="btn d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-douban-history">
                  歷史記錄
                </a>
                <a href="javascript:void(0)" class="btn d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-douban-history" title="同步歷史">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-history" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                     <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                     <polyline points="12 8 12 12 14 14"></polyline>
                     <path d="M3.05 11a9 9 0 1 1 .5 4m-.5 5v-5h5"></path>
                  </svg>
                </a>
              </div>
              <div class="col"></div>
              <div class="col-auto">
                <a id="douban_save_btn" href="javascript:save_douban_config()" class="btn btn-primary">
                  儲存
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-douban-history" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">豆瓣歷史記錄</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="table-responsive" style="min-height: 300px">
        <table class="table table-vcenter card-table">
          <thead>
          <tr>
            <th></th>
            <th>標題</th>
            <th>型別</th>
            <th>狀態</th>
            <th>新增時間</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          {% if HistoryCount > 0 %}
            {% for Item in DoubanHistory %}
              <tr id="douban_history_{{ Item.ID }}">
                <td class="w-5">
                  <span style="width: 60px">
                      <img class="rounded" src="{{ Item.IMAGE }}"
                           onerror="this.src='../static/img/no-image.png'"/>
                  </span>
                </td>
                <td>
                  <div>{{ Item.NAME }} ({{ Item.YEAR }})</div>
                  {% if Item.RATING %}
                    <div class="text-muted text-nowrap">
                    評份：{{ Item.RATING }}
                    </div>
                  {% endif %}
                </td>
                <td>
                  {{ Item.TYPE }}
                </td>
                <td>
                  {% if Item.STATE == 'DOWNLOADED' %}
                    <span class="badge bg-green">已下載</span>
                  {% elif Item.STATE == 'RSS' %}
                    <span class="badge bg-blue">已訂閱</span>
                  {% else %}
                    <span class="badge bg-orange">處理中</span>
                  {% endif %}
                </td>
                <td>
                  <small>{{ Item.ADD_TIME or '' }}</small>
                </td>
                <td>
                  <div class="dropdown">
                    <a href="#" class="btn-action" data-bs-toggle="dropdown"
                       aria-expanded="false">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                           height="24" viewBox="0 0 24 24" stroke-width="2"
                           stroke="currentColor" fill="none" stroke-linecap="round"
                           stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <circle cx="12" cy="12" r="1"></circle>
                        <circle cx="12" cy="19" r="1"></circle>
                        <circle cx="12" cy="5" r="1"></circle>
                      </svg>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                      <a class="dropdown-item text-danger"
                         href='javascript:delete_douban_history("{{ Item.ID }}")'>
                        刪除
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="6" align="center">沒有資料</td>
            </tr>
          {% endif %}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">確定</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  // 儲存設定
  function save_douban_config() {
    const params = {};
    $("#config_douban input").each(function () {
      let value;
      const key = $(this).attr("id");
      if ($(this).attr("type") === "checkbox") {
        value = !!$(this).prop("checked");
      } else {
        value = $(this).val();
      }
      params[key] = value;
    });
    $("#douban_save_btn").attr("disabled", true).text("儲存中...");
    ajax_post("update_config", params, function (ret) {
      $("#douban_save_btn").attr("disabled", false).text("儲存");
    });
  }

  // 刪除豆瓣歷史記錄
  function delete_douban_history(id){
    ajax_post("delete_douban_history", {"id": id}, function (ret) {
      $("#douban_history_" + id).remove();
    });

  }
</script>