<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">
          過濾規則
        </h2>
      </div>
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <a href="javascript:show_add_filtergroup_modal()" class="btn btn-primary d-none d-sm-inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                 stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <line x1="12" y1="5" x2="12" y2="19"/>
              <line x1="5" y1="12" x2="19" y2="12"/>
            </svg>
            新增
          </a>
          <a href="javascript:show_add_filtergroup_modal()" class="btn btn-primary d-sm-none btn-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                 stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <line x1="12" y1="5" x2="12" y2="19"/>
              <line x1="5" y1="12" x2="19" y2="12"/>
            </svg>
          </a>
          <a href="javascript:show_restore_filtergroup_modal()" class="btn btn-twitter d-none d-sm-inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 16 16"
                 fill="currentColor" stroke-linecap="round" stroke-linejoin="round">
              <path d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
              <path
                      d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
            </svg>
            恢復
          </a>
          <a href="javascript:show_restore_filtergroup_modal()" class="btn btn-twitter d-sm-none btn-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 16 16"
                 fill="currentColor" stroke-linecap="round" stroke-linejoin="round">
              <path d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
              <path
                      d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
            </svg>
          </a>
          <a href="javascript:show_import_filtergroup_modal()" class="btn btn-success d-none d-sm-inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-transfer-in" width="24"
                 height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                 stroke-linecap="round"
                 stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M4 18v3h16v-14l-8 -4l-8 4v3"></path>
              <path d="M4 14h9"></path>
              <path d="M10 11l3 3l-3 3"></path>
            </svg>
            匯入
          </a>
          <a href="javascript:show_import_filtergroup_modal()" class="btn btn-success d-sm-none btn-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-transfer-in" width="24"
                 height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                 stroke-linecap="round"
                 stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M4 18v3h16v-14l-8 -4l-8 4v3"></path>
              <path d="M4 14h9"></path>
              <path d="M10 11l3 3l-3 3"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 業務頁面程式碼 -->
{% if Count > 0 %}
  <div class="page-body">
    <div class="container-xl">
      <div class="row row-cards">
        {% for RuleGroup in RuleGroups %}
          <div class="col-12 col-md-6 col-xl-4">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"><strong>{{ RuleGroup.name }}</strong></h3>
                <div class="card-actions btn-actions">
                  <a href="javascript:share_filtergroup('{{ RuleGroup.id }}')" class="btn-action" title="分享規則組">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-share" width="24"
                         height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <circle cx="6" cy="12" r="3"></circle>
                      <circle cx="18" cy="6" r="3"></circle>
                      <circle cx="18" cy="18" r="3"></circle>
                      <line x1="8.7" y1="10.7" x2="15.3" y2="7.3"></line>
                      <line x1="8.7" y1="13.3" x2="15.3" y2="16.7"></line>
                    </svg>
                  </a>
                  <a href="javascript:set_default_filtergroup('{{ RuleGroup.id }}')" class="btn-action"
                     title="設定/取消預設">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="icon icon-tabler icon-tabler-star {% if RuleGroup.default == 'Y' %}icon-filled text-purple{% endif %}"
                         width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path
                              d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z">
                      </path>
                    </svg>
                  </a>
                  <a href="javascript:show_add_filterrule_modal('{{ RuleGroup.id }}', '{{ RuleGroup.name }}')"
                     class="btn-action" title="增加規則">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="40"
                         height="40"
                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <line x1="12" y1="5" x2="12" y2="19"></line>
                      <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
                  </a>
                  <a href="javascript:del_filtergroup_modal('{{ RuleGroup.id }}', '{{ RuleGroup.name }}')"
                     class="btn-action" title="刪除規則組">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                         stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                      <desc>Download more icon variants from https://tabler-icons.io/i/x</desc>
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <line x1="18" y1="6" x2="6" y2="18"/>
                      <line x1="6" y1="6" x2="18" y2="18"/>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="card-body">
                <div class="row row-cards">
                  {% if RuleGroup.rules %}
                    {% for Rule in RuleGroup.rules %}
                      <div class="col-12">
                        <a class="card card-link card-link-pop card-borderless"
                           href="javascript:show_modify_filterrule_modal('{{ RuleGroup.id }}', '{{ Rule.id }}', '{{ RuleGroup.name }}')"
                           title="編輯規則">
                          <div class="card-body">
                            <h3 class="card-title">{{ Rule.name }}</h3>
                            <div class="w-100">
                              {% if Rule.free_text %}
                                <span class="badge bg-info me-1 mb-1 text-wrap text-start"
                                      title="促銷">{{ Rule.free_text }}</span>
                              {% endif %}
                              {% for include in Rule.include %}
                                <span class="badge badge-outline text-info me-1 mb-1 text-wrap text-start"
                                      title="包含規則">包含: {{ include }}</span>
                              {% endfor %}
                              {% for exclude in Rule.exclude %}
                                <span class="badge badge-outline text-red me-1 mb-1 text-wrap text-start"
                                      title="排除規則">排除: {{ exclude }}</span>
                              {% endfor %}
                              {% if Rule.size %}
                                <span class="badge badge-outline text-orange me-1 mb-1 text-wrap text-start"
                                      title="大小限制">大小: {{ Rule.size }}</span>
                              {% endif %}
                            </div>
                          </div>
                        </a>
                      </div>
                    {% endfor %}
                  {% else %}
                    <div class="text-muted mt-2">未設定規則</div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% else %}
  <div class="page-body">
    <div class="container-xl d-flex flex-column justify-content-center">
      <div class="empty">
        <div class="empty-img"><img src="./static/img/sign_in.svg" height="128" alt="">
        </div>
        <p class="empty-title">沒有規則</p>
        <p class="empty-subtitle text-muted">
          沒有配置任何規則，請點選“新增規則組“按鈕。
        </p>
      </div>
    </div>
  </div>
{% endif %}
<div class="modal modal-blur fade" id="modal-add-filterrule" tabindex="-1" role="dialog" aria-hidden="true"
     data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-filterrule-title">新增規則</h5>
        <input type="hidden" id="filterrule_id"/>
        <input type="hidden" id="filtergroup_id"/>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="overflow-x: hidden">
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label required">規則名稱</label>
              <input type="text" class="form-control" id="rule_name" placeholder="自定義規則名稱">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label">優先順序 <span class="form-help"
                                                     title="同一個規則組內，規則優先順序的數值越小優先順序越高"
                                                     data-bs-toggle="tooltip">?</span></label>
              <select class="form-select" id="rule_pri">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label">包含規則 <span class="form-help"
                                                       title="只有種子標題或副標題中包括這些關鍵字或匹配正式表示式才會命中；對大小寫不敏感，配置為空為不啟用該規則；可以配置多行，多行之間是【與】的關係，即多行條件都包含時才會命中，單行內可以用'|'來表示【或】，即包括其一即命中"
                                                       data-bs-toggle="tooltip">?</span></label>
              <textarea class="form-control" id="rule_include" rows="4"
                        placeholder="必須包含的關鍵字或正規表示式"></textarea>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label">排除規則 <span class="form-help"
                                                       title="種子標題或副標題中如果有這些關鍵字或匹配正式表示式則會被跳過；對大小寫不敏感，不能帶引號，配置為空為不啟用該規則；可以配置多行，多行之間是【與】的關係，即多行條件都不包含時才會跳過，單行內可以用'|'來表示【或】，即包括其一即跳過"
                                                       data-bs-toggle="tooltip">?</span></label>
              <textarea class="form-control" id="rule_exclude" rows="4"
                        placeholder="不能包含的關鍵字或正規表示式"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label">大小限制(GB) <span class="form-help"
                                                           title="只有滿足大小限制的種子檔案才會被命中，單位是GB，如果是劇集則是指的單集大小（多集時按集數折算）；不配置則不啟用該條件；如只配置1個數字表示小於等於該大小的才會被命中；如配置2個數字(使用英文逗號分隔)表示在中間大小的才會被命中"
                                                           data-bs-toggle="tooltip">?</span></label>
              <input type="text" class="form-control" id="rule_sizelimit" value="" placeholder="限制檔案大小，單位GB">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label">促銷 <span class="form-help"
                                                   title="只有滿足促銷條件的種子才會被命中，免費包括2X免費"
                                                   data-bs-toggle="tooltip">?</span></label>
              <select class="form-select" id="rule_free">
                <option value="" selected>全部</option>
                <option value="1.0 1.0">普通</option>
                <option value="1.0 0.0">免費</option>
                <option value="2.0 0.0">2X免費</option>
              </select>
            </div>
          </div>
        </div>
        {% for Init_RuleGroup in Init_RuleGroups %}
          {% if Init_RuleGroup.rules %}
            <div class="row mb-3">
              <details>
                <summary class="summary">
                  模板-{{ Init_RuleGroup.name }}
                </summary>
                <div class="form-selectgroup">
                  {% for Rule in Init_RuleGroup.rules %}
                    <label class="form-selectgroup-item">
                      <input type="button" value="{{ Rule | safe }}" class="form-selectgroup-input"
                             onclick="javascript:apply_templated(this)">
                      <span class="form-selectgroup-label">{{ Rule.name }}</span>
                    </label>
                  {% endfor %}
                </div>
              </details>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button id="filterrule_close_btn" class="btn btn-link">
          取消
        </button>
        <button id="add_or_edit_filterrule_btn" class="btn btn-primary ms-auto" onclick="javascript:add_filterrule()">
          新增
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-add-filtergroup" tabindex="-1" role="dialog" aria-hidden="true"
     data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">新增規則組</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label class="form-label required">規則組名稱 <span class="form-help"
                                                                  title="規則組為規則使用的基本單位，一個規則組中可以包含多條規則，按優先順序依次匹配，給規則組設定個名稱以便於選擇使用"
                                                                  data-bs-toggle="tooltip">?</span></label>
              <input type="text" class="form-control" id="rulegroup_name" placeholder="別名">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4">
            <div class="mb-3">
              <label class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="rulegroup_default"
                       onclick="javascript:change_over_edition_check(this)">
                <span class="form-check-label">預設 <span class="form-help"
                                                          title="將該規則組設為預設規則，在遠端搜尋、訂閱等未指定規則組的場景下預設使用"
                                                          data-bs-toggle="tooltip">?</span></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-link" data-bs-dismiss="modal">
          取消
        </a>
        <a id="add_rulegroup_btn" class="btn btn-primary ms-auto" href="javascript:add_filtergroup()">
          新增
        </a>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-restore-filtergroup" tabindex="-1" role="dialog" aria-hidden="true"
     data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">恢復初始規則</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-selectgroup">
          {% for Init_RuleGroup in Init_RuleGroups %}
            <label class="form-selectgroup-item">
              <input type="checkbox" name="init_rulegroup" value="{{ Init_RuleGroup.id }}"
                     class="form-selectgroup-input">
              <span class="form-selectgroup-label">{{ Init_RuleGroup.name }}</span>
            </label>
          {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-link" data-bs-dismiss="modal">
          取消
        </a>
        <a id="restore_rulegroup_btn" class="btn btn-primary ms-auto" href="javascript:restore_filtergroup()">
          恢復
        </a>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-share-filtergroup" tabindex="-1" role="dialog" aria-hidden="true"
     data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">規則分享</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label class="form-label required">規則內容 <span class="form-help"
                                                          title="複製以下內容分享給他人，獲得分享後使用規則匯入功能匯入分享規則"
                                                          data-bs-toggle="tooltip">?</span></label>
        <pre id="share_filtergroup_code">
          </pre>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary ms-auto" data-bs-dismiss="modal">
          關閉
        </a>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-import-filtergroup" tabindex="-1" role="dialog" aria-hidden="true"
     data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">規則分享</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label class="form-label required">規則內容</label>
        <textarea class="form-control" id="import_filtergroup_code" rows="10" placeholder="在此處貼上分享的規則內容">
          </textarea>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary ms-auto" href="javascript:import_filtergroup()">
          匯入
        </a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  // 開啟新增規則表視窗
  function show_add_filtergroup_modal() {
    $("#rulegroup_name").val('');
    $("#modal-add-filtergroup").modal('show');
  }

  // 開啟新增規則視窗
  function show_add_filterrule_modal(groupid, groupname) {
    $("#modal-filterrule-title").text("新增規則：" + groupname);
    $("#filtergroup_id").val(groupid);
    $("#filterrule_id").val('');
    $("#rule_name").val('');
    $("#rule_pri").val('1');
    $("#rule_include").val('');
    $("#rule_exclude").val('');
    $("#rule_sizelimit").val('');
    $("#rule_free").val('');
    $("#filterrule_close_btn").text("取消");
    $("#add_or_edit_filterrule_btn").text("新增");
    $("#filterrule_close_btn").unbind('click').click(function () {
      $("#modal-add-filterrule").modal('hide');
    });
    $("#modal-add-filterrule").modal('show');
  }

  // 開啟恢復初始規則視窗
  function show_restore_filtergroup_modal() {
    $("#modal-restore-filtergroup").modal('show');
  }

  // 恢復初始規則
  function restore_filtergroup() {
    let init_rulegroups = {{ Init_RuleGroups | safe }};
    let need_init_groupid = [];
    let i = 0;
    $("input[name=init_rulegroup]").each(function () {
      if ($(this).prop("checked")) {
        need_init_groupid[i] = $(this).val();
        i = i + 1;
      }
    });
    $("#restore_rulegroup_btn").text("恢復中").attr("disabled", true);
    ajax_post("restore_filtergroup", {
      "groupids": need_init_groupid,
      "init_rulegroups": init_rulegroups
    }, function (ret) {
      $("#modal-restore-filtergroup").modal('hide');
      navmenu('filterrule');
    });
  }

  // 設定預設規則組
  function set_default_filtergroup(id) {
    ajax_post("set_default_filtergroup", {"id": id}, function (ret) {
      navmenu('filterrule');
    });
  }

  //修改規則
  function show_modify_filterrule_modal(groupid, ruleid, groupname) {
    $("#modal-filterrule-title").text("編輯規則：" + groupname);
    $("#filterrule_id").val(ruleid);
    $("#filtergroup_id").val(groupid);
    //獲取資料
    ajax_post("filterrule_detail", {"ruleid": ruleid, "groupid": groupid}, function (ret) {
      if (ret.info) {
        $("#rule_name").val(ret.info.name);
        $("#rule_pri").val(ret.info.pri);
        $("#rule_include").val(ret.info.include);
        $("#rule_exclude").val(ret.info.exclude);
        $("#rule_sizelimit").val(ret.info.size);
        $("#rule_free").val(ret.info.free);
        $("#add_or_edit_filterrule_btn").text("修改");
        $("#filterrule_close_btn").text("刪除").unbind('click').click(function () {
          delete_filterrule(ret.info.id);
        });
        $("#modal-add-filterrule").modal('show');
      }
    });
  }

  // 新增規則組
  function add_filtergroup() {
    const name = $("#rulegroup_name").val();
    if (!name) {
      $("#rulegroup_name").addClass("is-invalid");
      return;
    } else {
      $("#rulegroup_name").removeClass("is-invalid");
    }
    let is_default;
    if ($("#rulegroup_default").prop("checked")) {
      is_default = 'Y';
    } else {
      is_default = 'N';
    }
    const params = {"name": name, "default": is_default};
    ajax_post("add_filtergroup", params, function (ret) {
      if (ret.code == 0) {
        $("#modal-add-filtergroup").modal('hide');
        navmenu('filterrule');
      }
    });
  }

  //刪除規則組
  function del_filtergroup_modal(id, name) {
    show_confirm_modal("刪除規則組後，該組下所有的規則將會同時被刪除，是否確認刪除 " + name + " ？", function () {
      hide_confirm_modal();
      ajax_post("del_filtergroup", {"id": id}, function (ret) {
        navmenu('filterrule');
      });
    });
  }

  // 新增規則
  function add_filterrule() {
    const rule_id = $("#filterrule_id").val();
    const group_id = $("#filtergroup_id").val();
    const rule_name = $("#rule_name").val();
    const rule_free = $("#rule_free").val();
    if (!rule_name) {
      $("#rule_name").addClass("is-invalid");
      return;
    } else {
      $("#rule_name").removeClass("is-invalid");
    }
    const rule_sizelimit = $("#rule_sizelimit").val();
    if (rule_sizelimit) {
      const reg = /^[0-9,]*$/;
      if (!reg.test(rule_sizelimit)) {
        $("#rule_sizelimit").addClass("is-invalid");
        return;
      } else {
        $("#rule_sizelimit").removeClass("is-invalid");
      }
    }
    const params = {
      rule_id: rule_id,
      group_id: group_id,
      rule_name: rule_name,
      rule_pri: $("#rule_pri").val(),
      rule_include: $("#rule_include").val(),
      rule_exclude: $("#rule_exclude").val(),
      rule_sizelimit: rule_sizelimit,
      rule_free: rule_free
    };
    ajax_post("add_filterrule", params, function (ret) {
      if (ret.code == 0) {
        $("#modal-add-filterrule").modal('hide');
        navmenu('filterrule');
      }
    });
  }

  // 刪除規則
  function delete_filterrule(id) {
    const params = {"id": id};
    ajax_post("del_filterrule", params, function (ret) {
      $("#modal-add-filterrule").modal('hide');
      navmenu('filterrule');
    });
  }

  // 應用規則模板
  function apply_templated(item) {
    let rule = item.value.replace(/'/g, "\"");
    rule = rule.replace(/None/g, "\"\"");
    rule = JSON.parse(rule)
    $("#rule_name").val(rule["name"]);
    $("#rule_include").val(rule["include"].toString().replace(/,/g, "\n"));
    $("#rule_exclude").val(rule["exclude"].toString().replace(/,/g, "\n"));
  }

  //分計規則組
  function share_filtergroup(id) {
    show_wait_process();
    ajax_post("share_filtergroup", {"id": id}, function (ret) {
      hide_wait_process();
      if (ret.code == 0) {
        $("#share_filtergroup_code").text(ret.string);
        $("#modal-share-filtergroup").modal('show');
      } else {
        show_fail_modal(`無法生成分享：${ret.msg}`);
      }
    });
  }

  //顯示匯入規則組框
  function show_import_filtergroup_modal() {
    $("#import_filtergroup_code").val("");
    $("#modal-import-filtergroup").modal('show');
  }

  //匯入編規則組
  function import_filtergroup() {
    const content = $("#import_filtergroup_code").val();
    if (!content) {
      return;
    }
    $("#modal-import-filtergroup").modal('hide');
    show_wait_process();
    ajax_post("import_filtergroup", {"content": content}, function (ret) {
      hide_wait_process();
      if (ret.code == 0) {
        navmenu('filterrule');
      } else {
        show_fail_modal(`規則匯入失敗：${ret.msg}`, function () {
          $("#modal-import-filtergroup").modal('show');
        });
      }
    });
  }

</script>