<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">
          媒體伺服器
        </h2>
      </div>
    </div>
  </div>
</div>
<!-- 業務頁面程式碼 -->
<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-12 col-md-4 col-xl-3">
        <a class="card card-link card-link-pop" href="#" data-bs-toggle="modal" data-bs-target="#modal-emby">
          <div class="card-cover card-cover-blurred text-center bg-green">
            <span class="avatar avatar-xl avatar-thumb avatar-rounded"
                  style="background-image: url(../static/img/emby.png)">
            </span>
          </div>
          <div class="card-body text-center">
            <div class="card-title mb-1">Emby</div>
            <div class="text-muted">{% if Config.media.media_server == "emby" %}<span class="badge bg-green"
                                                                                      title="已開啟"></span>
              正在使用{% endif %}</div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-4 col-xl-3">
        <a class="card card-link card-link-pop" href="#" data-bs-toggle="modal" data-bs-target="#modal-jellyfin">
          <div class="card-cover card-cover-blurred text-center bg-purple">
            <span class="avatar avatar-xl avatar-thumb avatar-rounded"
                  style="background-image: url(../static/img/jellyfin.jpg)">
            </span>
          </div>
          <div class="card-body text-center">
            <div class="card-title mb-1">Jellyfin</div>
            <div class="text-muted">{% if Config.media.media_server == "jellyfin" %}<span class="badge bg-green"
                                                                                          title="已開啟"></span>
              正在使用{% endif %}</div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-4 col-xl-3">
        <a class="card card-link card-link-pop" href="#" data-bs-toggle="modal" data-bs-target="#modal-plex">
          <div class="card-cover card-cover-blurred text-center bg-yellow">
            <span class="avatar avatar-xl avatar-thumb avatar-rounded"
                  style="background-image: url(../static/img/plex.png)">
            </span>
          </div>
          <div class="card-body text-center">
            <div class="card-title mb-1">Plex</div>
            <div class="text-muted">{% if Config.media.media_server == "plex" %}<span class="badge bg-green"
                                                                                      title="已開啟"></span>
              正在使用{% endif %}</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-emby" tabindex="-1" role="dialog" aria-hidden="true"
     data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Emby</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label required">伺服器地址 <span class="form-help"
                                                                  title="配置IP地址和埠，如為https則需要增加https://字首"
                                                                  data-bs-toggle="tooltip">?</span></label>
              <input type="text" value="{% if Config.emby %}{{ Config.emby.host or '' }}{% endif %}" id="emby.host"
                     class="form-control" placeholder="http://127.0.0.1:8096">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label required">Api Key <span class="form-help"
                                                               title="在Emby設定->高階->API金鑰處生成，注意不要複製到了應用名稱"
                                                               data-bs-toggle="tooltip">?</span></label>
              <input type="text" value="{% if Config.emby %}{{ Config.emby.api_key or '' }}{% endif %}"
                     id="emby.api_key" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:test_mediaserver_config('emby')" id="emby_test_btn" class="btn me-auto">
          測試
        </a>
        <a href="javascript:save_mediaserver_config('emby')" id="emby_save_btn" class="btn btn-primary">確定</a>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-jellyfin" tabindex="-1" role="dialog" aria-hidden="true"
     data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Jellyfin</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label required">伺服器地址 <span class="form-help"
                                                                  title="配置IP地址和埠，如為https則需要增加https://字首"
                                                                  data-bs-toggle="tooltip">?</span></label>
              <input type="text" value="{% if Config.jellyfin %}{{ Config.jellyfin.host or '' }}{% endif %}"
                     id="jellyfin.host" class="form-control" placeholder="http://127.0.0.1:8096">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label required">Api Key <span class="form-help"
                                                               title="在Jellyfin設定->高階->API金鑰處生成"
                                                               data-bs-toggle="tooltip">?</span></label>
              <input type="text" value="{% if Config.jellyfin %}{{ Config.jellyfin.api_key or '' }}{% endif %}"
                     id="jellyfin.api_key" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:test_mediaserver_config('jellyfin')" id="jellyfin_test_btn" class="btn me-auto">
          測試
        </a>
        <a href="javascript:save_mediaserver_config('jellyfin')" id="jellyfin_save_btn" class="btn btn-primary">確定</a>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-plex" tabindex="-1" role="dialog" aria-hidden="true"
     data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Plex</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label required">伺服器地址 <span class="form-help"
                                                                  title="配置IP地址和埠，如為https則需要增加https://字首"
                                                                  data-bs-toggle="tooltip">?</span></label>
              <input type="text" value="{% if Config.plex %}{{ Config.plex.host or '' }}{% endif %}" id="plex.host"
                     class="form-control" placeholder="http://127.0.0.1:32400">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label required">X-Plex-Token <span class="form-help"
                                                                    title="Plex網頁Cookie中的X-Plex-Token，透過瀏覽器F12->網路中獲取，如填寫將優先使用；Token與伺服器名稱、使用者名稱及密碼 二選一，推薦使用Token，連線速度更快"
                                                                    data-bs-toggle="tooltip">?</span></label>
              <input type="text" value="{% if Config.plex %}{{ Config.plex.token or '' }}{% endif %}" id="plex.token"
                     class="form-control" placeholder="X-Plex-Token與其它認證資訊二選一">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="mb-3">
              <label class="form-label">伺服器名稱 <span class="form-help"
                                                         title="配置Plex設定->左側下拉框中看到的伺服器名稱；如填寫了Token則無需填寫伺服器名稱、使用者名稱及密碼"
                                                         data-bs-toggle="tooltip">?</span></label>
              <input type="text" value="{% if Config.plex %}{{ Config.plex.servername or '' }}{% endif %}"
                     id="plex.servername" class="form-control">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="mb-3">
              <label class="form-label">使用者名稱</label>
              <input type="text" value="{% if Config.plex %}{{ Config.plex.username or '' }}{% endif %}"
                     id="plex.username" class="form-control" placeholder="">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="mb-3">
              <label class="form-label">密碼</label>
              <input type="password" value="{% if Config.plex %}{{ Config.plex.password or '' }}{% endif %}"
                     id="plex.password" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:test_mediaserver_config('plex')" id="plex_test_btn" class="btn me-auto">
          測試
        </a>
        <a href="javascript:save_mediaserver_config('plex')" id="plex_save_btn" class="btn btn-primary">確定</a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  // 當前處理的型別
  var currType = "";

  // 儲存配置
  function save_config(type, func, test) {
    currType = type;
    const params = {"test": test || false};
    $("#modal-" + type + " input").each(function () {
      let value;
      const key = $(this).attr("id");
      if ($(this).attr("type") === "checkbox") {
        value = !!$(this).prop("checked");
      } else {
        value = $(this).val();
      }
      params[key] = value;
    });
    params['media.media_server'] = type;
    ajax_post("update_config", params, func);
  }

  //儲存配置、關閉和重新整理頁面
  function save_mediaserver_config(type) {
    $("#modal-" + type).modal('hide');
    save_config(type, function (ret) {
      navmenu('mediaserver');
    });
  }

  //儲存配置和測試配置
  function test_mediaserver_config(type) {
    $("#" + type + "_test_btn").text("測試中...");
    save_config(type, function (ret) {
      let command;
      if (currType === "emby") {
        command = "app.mediaserver.client.emby|Emby";
      } else if (currType === "jellyfin") {
        command = "app.mediaserver.client.jellyfin|Jellyfin";
      } else if (currType === "plex") {
        command = "app.mediaserver.client.plex|Plex";
      }
      ajax_post("test_connection", {"command": command}, function (ret) {
        if (ret.code === 0) {
          $("#" + currType + "_test_btn").text("測試成功");
        } else {
          $("#" + currType + "_test_btn").text("測試失敗！");
        }
      });
    }, true);
  }
</script>