<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">
          字幕
        </h2>
      </div>
    </div>
  </div>
</div>
<!-- 業務頁面程式碼 -->
<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-12 col-md-4 col-xl-3">
        <a class="card card-link card-link-pop" href="#" data-bs-toggle="modal" data-bs-target="#modal-opensubtitles">
          <div class="card-cover card-cover-blurred text-center">
            <span class="avatar avatar-xl avatar-thumb avatar-rounded"
                  style="background-image: url(../static/img/opensubtitles.png)">
            </span>
          </div>
          <div class="card-body text-center">
            <div class="card-title mb-1">OpenSubtitles</div>
            <div class="text-muted">{% if Config.subtitle %}{% if Config.subtitle.server == "opensubtitles" %}<span
                    class="badge bg-green" title="已開啟"></span> 正在使用{% endif %}{% endif %}</div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-4 col-xl-3">
        <a class="card card-link card-link-pop" href="#" data-bs-toggle="modal"
           data-bs-target="#modal-chinesesubfinder">
          <div class="card-cover card-cover-blurred text-center bg-lime">
            <span class="avatar avatar-xl avatar-thumb avatar-rounded"
                  style="background-image: url(../static/img/chinesesubfinder.png)">
            </span>
          </div>
          <div class="card-body text-center">
            <div class="card-title mb-1">ChineseSubFinder</div>
            <div class="text-muted">{% if Config.subtitle %}{% if Config.subtitle.server == "chinesesubfinder" %}<span
                    class="badge bg-green" title="已開啟"></span> 正在使用{% endif %}{% endif %}</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-opensubtitles" tabindex="-1" role="dialog" aria-hidden="true"
     data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">OpenSubtitles</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="subtitle.opensubtitles.enable" {% if
                  Config.subtitle.opensubtitles and Config.subtitle.opensubtitles.enable %}checked{% endif %}>
                <span class="form-check-label">開啟opensubtitles.org字幕下載 <span class="form-help"
                                                                                   title="需要確保網路能正常連通www.opensubtitles.org"
                                                                                   data-bs-toggle="tooltip">?</span></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link me-auto" data-bs-dismiss="modal">取消</button>
        <a href="javascript:save_subtitle_config('opensubtitles')" id="opensubtitles_save_btn"
           class="btn btn-primary">確定</a>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-chinesesubfinder" tabindex="-1" role="dialog" aria-hidden="true"
     data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ChineseSubFinder</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label required">伺服器地址 <span class="form-help"
                                                                  title="配置IP地址和埠，如為https則需要增加https://字首"
                                                                  data-bs-toggle="tooltip">?</span></label>
              <input type="text"
                     value="{% if Config.subtitle %}{% if Config.subtitle.chinesesubfinder %}{{ Config.subtitle.chinesesubfinder.host or '' }}{% endif %}{% endif %}"
                     id="subtitle.chinesesubfinder.host" class="form-control" placeholder="http://127.0.0.1:19035">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label required">Api Key <span class="form-help"
                                                               title="在ChineseSubFinder->配置中心->實驗室->API Key處生成"
                                                               data-bs-toggle="tooltip">?</span></label>
              <input type="text"
                     value="{% if Config.subtitle %}{% if Config.subtitle.chinesesubfinder %}{{ Config.subtitle.chinesesubfinder.api_key or '' }}{% endif %}{% endif %}"
                     id="subtitle.chinesesubfinder.api_key" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label">本地路徑 <span class="form-help"
                                                       title="NASTool本地媒體庫的路徑，如為Docker安裝則為對映路徑，如NASTool與ChineseSubFinder的媒體目錄路徑一致則不用配置"
                                                       data-bs-toggle="tooltip">?</span></label>
              <input type="text"
                     value="{% if Config.subtitle %}{% if Config.subtitle.chinesesubfinder %}{{ Config.subtitle.chinesesubfinder.local_path or '' }}{% endif %}{% endif %}"
                     id="subtitle.chinesesubfinder.local_path" class="form-control filetree-folders-only"
                     placeholder="本地對映路徑" autocomplete="off">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label">遠端路徑 <span class="form-help"
                                                       title="ChineseSubFinder的媒體目錄對映路徑，會用此路徑替換掉本地路徑後傳遞給ChineseSubFinder下載字幕，如NASTool與ChineseSubFinder的媒體目錄路徑一致則不用配置"
                                                       data-bs-toggle="tooltip">?</span></label>
              <input type="text"
                     value="{% if Config.subtitle %}{% if Config.subtitle.chinesesubfinder %}{{ Config.subtitle.chinesesubfinder.remote_path or '' }}{% endif %}{% endif %}"
                     id="subtitle.chinesesubfinder.remote_path" class="form-control" placeholder="遠端對映路徑"
                     autocomplete="off">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link me-auto" data-bs-dismiss="modal">取消</button>
        <a href="javascript:save_subtitle_config('chinesesubfinder')" id="chinesesubfinder_save_btn"
           class="btn btn-primary">確定</a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  // 當前處理的型別
  var currType = "";

  // 儲存配置
  function save_config(type, func, test) {
    currType = type;
    let params = {"test": test || false};
    $("#modal-" + type + " input").each(function () {
      let value;
      const key = $(this).attr("id");
      if ($(this).attr("type") == "checkbox") {
        value = !!$(this).prop("checked");
      } else {
        value = $(this).val();
      }
      params[key] = value;
    });
    params['subtitle.server'] = type;
    ajax_post("update_config", params, func);
  }

  //儲存配置、關閉和重新整理頁面
  function save_subtitle_config(type) {
    $("#modal-" + type).modal('hide');
    save_config(type, function (ret) {
      navmenu('subtitle');
    });
  }

</script>