<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">
          服務
        </h2>
      </div>
    </div>
  </div>
</div>
<!-- 業務頁面程式碼 -->
{% if Count > 0 %}
<div class="page-body">
  <div class="container-xl">
    <div class="row row-deck row-cards">
      <div class="col-12">
        <div class="row row-cards">
          {% for Scheduler in SchedulerTasks %}
          <div class="col-12 col-md-6 col-xl-3">
            <div class="card card-sm card-link-pop">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="bg-{{ Scheduler.color }} text-white avatar">
                      {{ Scheduler.svg|safe }}
                    </span>
                  </div>
                  <div class="col">
                    <div class="font-weight-medium">
                      <a href="javascript:show_service_modal('{{ Scheduler.id }}','{{ Scheduler.name }}')"
                        id="service_btn">{{ Scheduler.name }}</a>
                    </div>
                    <div class="text-muted">
                      {{ Scheduler.time }}
                    </div>
                  </div>
                  {% if Scheduler.state == "ON" %}
                  <div class="col-auto align-self-center">
                    <div class="badge bg-primary"></div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="page-body">
  <div class="container-xl d-flex flex-column justify-content-center">
    <div class="empty">
      <div class="empty-img"><img src="./static/img/sign_in.svg" height="128" alt="">
      </div>
      <p class="empty-title">沒有服務</p>
      <p class="empty-subtitle text-muted">
        沒有開啟任何後臺服務。
      </p>
    </div>
  </div>
</div>
{% endif %}
<div class="modal modal-blur fade" id="modal-nametest" tabindex="-1" role="dialog" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">名稱識別測試</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label class="form-label">資源名稱 <span class="form-help"
                  title="用於測試名稱識別情況，如命名太離譜實在難於相容，合理範圍內無法識別的可在Github反饋" data-bs-toggle="tooltip">?</span></label>
              <input type="text" value="" id="test_name" class="form-control" placeholder="種子名/檔名等">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-1" id="test_result">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link me-auto" data-bs-dismiss="modal">取消</button>
        <button id="nametest_btn" class="btn btn-primary">識別</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-ruletest" tabindex="-1" role="dialog" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">過濾規則測試</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-7">
            <div class="mb-3">
              <label class="form-label required">標題</label>
              <input type="text" value="" id="test_title" class="form-control" placeholder="種子名稱">
            </div>
          </div>
          <div class="col-lg-2">
            <div class="mb-3">
              <label class="form-label required">大小(GB)</label>
              <input type="text" value="" id="test_size" class="form-control" placeholder="種子大小">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="mb-3">
              <label class="form-label required">過濾規則</label>
              <select class="form-select" id="test_rulegroup">
                  {% if RuleGroups %}
                  <option value="0">請選擇</option>
                  {% for RuleGroup in RuleGroups %}
                  <option value="{{ RuleGroup.id }}">{{ RuleGroup.name }}</option>
                  {% endfor %}
                  {% else %}
                  <option value="0">未配置</option>
                  {% endif %}
                </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label class="form-label">副標題</label>
              <textarea rows="3" id="test_subtitle" class="form-control" placeholder="種子描述"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-3" id="testrule_result">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link me-auto" data-bs-dismiss="modal">取消</button>
        <button id="ruletest_btn" class="btn btn-primary">測試</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-nettest" tabindex="-1" role="dialog" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">網路連通性測試</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="table-responsive">
        <table class="table table-vcenter card-table">
          <thead>
            <tr>
              <th>測試物件</th>
              <th>連通性</th>
              <th>耗時</th>
            </tr>
          </thead>
          <tbody>
            {% for target in SchedulerTasks[-2].targets %}
            <tr>
              <td><span>{{ target }}</span></td>
              <td id="nettest_item{{ loop.index0 }}"></td>
              <td id="nettest_item{{ loop.index0 }}_time"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link me-auto" data-bs-dismiss="modal">取消</button>
        <button id="nettest_btn" class="btn btn-primary">測試</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-backup" tabindex="-1" role="dialog" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">備份&恢復</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="dropzone" id="back_file" action="/upload">
          <div class="fallback">
            <input name="file" type="file" accept="*.zip" />
          </div>
          <div class="dz-message">
            <h3 class="dropzone-msg-title">上傳備份檔案</h3>
            <span class="dropzone-msg-desc">點選或者拖動備份檔案到此處</span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="backup_btn" class="btn btn-primary">備份當前配置</button>
        <button id="restore_btn" class="btn btn-danger">恢復配置</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  // 顯示服務提示框
  function show_service_modal(id, name) {
    if (id == "nametest") {
      $('#modal-nametest').modal('show');
    } else if (id == "ruletest") {
      $('#modal-ruletest').modal('show');
    } else if (id == "nettest") {
      $('#modal-nettest').modal('show');
    } else if (id == "blacklist") {
      show_confirm_modal("清理檔案整理快取後，已轉移過的檔案允許重新轉移（包括識別錯誤的檔案），是否確認？", function () {
        hide_confirm_modal();
        ajax_post("truncate_blacklist", {}, function (ret) {
          show_success_modal("檔案快取清理完成！");
        });
      });
    } else if (id == "rsshistory") {
      show_confirm_modal("清理RSS快取後，已訂閱下載但未入庫的資源可能會被重新下載，是否確認？", function () {
        hide_confirm_modal();
        ajax_post("truncate_rsshistory", {}, function (ret) {
          show_success_modal("RSS快取清理完成！");
        });
      });
    } else if (id == "backup") {
      $('#modal-backup').modal('show');
    } else {
      show_ask_modal("是否立即執行 " + name + "？", function () {
        hide_ask_modal();
        run_scheduler(id, name);
      });
    }
  }

  // 執行服務
  function run_scheduler(id, name) {
    const data = {"item": id};
    ajax_post("sch", data, function (ret) {
      show_success_modal(name + " 服務啟動成功，正在後臺執行");
    });
  }

  // 名稱測試
  $("#nametest_btn").click(function () {
    name_test();
  });

  // 規則測試
  $("#ruletest_btn").click(function () {
    rule_test();
  });

  // 網路測試
  $("#nettest_btn").click(function () {
    net_test();
  });

  // 備份
  $("#backup_btn").click(function () {
    $("#backup_btn").text("備份中...").attr("disabled", true);
    ajax_backup(function () {
      $("#backup_btn").attr("disabled", false).text("備份當前配置");
    });
  });

  // 恢復備份
  $("#restore_btn").click(function () {
    if (!dropzone || !dropzone.files || !dropzone.files[0]) {
      return;
    }
    $("#restore_btn").text("恢復中...").attr("disabled", true);
    ajax_post("restory_backup", { file_name: dropzone.files[dropzone.files.length - 1].name }, function (ret) {
      $("#restore_btn").attr("disabled", false).text("恢復配置");
      $("#modal-backup").modal('hide');
      if (ret.code == 0) {
        show_success_modal("備份恢復成功，請完整重啟整個系統（非內建重啟功能），否則配置資訊可能不生效！");
      } else {
        show_fail_modal(`備份恢復失敗：${ret.msg}`, function() {
          $("#modal-backup").modal('show');
        });
      }
    });
  });

  //名稱識別測試
  function name_test() {
    const name = $("#test_name").val();
    if (!name) {
      $("#test_name").addClass("is-invalid");
      return;
    } else {
      $("#test_name").removeClass("is-invalid");
    }
    $("#nametest_btn").text("識別中...");
    $("#nametest_btn").attr("disabled", true);
    media_name_test(name, "test_result", function () {
      $("#nametest_btn").text("識別");
      $("#nametest_btn").attr("disabled", false);
    });
  }

  //過濾規則測試
  function rule_test() {
    const title = $("#test_title").val();
    if (!title) {
      $("#test_title").addClass("is-invalid");
      return;
    } else {
      $("#test_title").removeClass("is-invalid");
    }
    const size = $("#test_size").val();
    if (!size || isNaN(size)) {
      $("#test_size").addClass("is-invalid");
      return;
    } else {
      $("#test_size").removeClass("is-invalid");
    }
    const rulegroup = $("#test_rulegroup").val();
    if (rulegroup == "0") {
      $("#test_rulegroup").addClass("is-invalid");
      return;
    } else {
      $("#test_rulegroup").removeClass("is-invalid");
    }

    const subtitle = $("#test_subtitle").val();
    $("#ruletest_btn").text("測試中...").attr("disabled", true);
    const params = {
      "title": title,
      "size": size,
      "rulegroup": rulegroup,
      "subtitle": subtitle
    };
    ajax_post("rule_test", params, function (ret) {
      $("#ruletest_btn").text("測試").attr("disabled", false);
      if (ret.code == 0) {
        $("#testrule_result").empty();
        if (ret.flag) {
          $("#testrule_result").append(`<span class="badge bg-green me-1 mb-1">${ret.text}</span>`)
                  .append(`<span class="badge badge-outline text-blue me-1 mb-1" title="命中規則在規則組內的序號">優先順序：${ret.order}</span>`);
        } else {
          $("#testrule_result").append(`<span class="badge bg-red me-1 mb-1">${ret.text}</span>`);
        }
      }
    });
  }
  //網路連通性測試
  function net_test() {
    const targets = {{ SchedulerTasks[-2].targets | safe }};
    const currentIndex = 0;
    const stopindex = targets.length;
    $("#nettest_btn").text("測試中...").attr("disabled", true);
    net_test_ajax(targets, currentIndex, stopindex);
  }

  //遞迴輪詢測試結果
  function net_test_ajax(targets, currentIndex, stopindex) {
    if (currentIndex >= stopindex) {
      $("#nettest_btn").text("測試").attr("disabled", false);
      return;
    }
    let target = '';
    target = targets[currentIndex];
    ajax_post("net_test", target, function (ret) {
      if (ret.res) {
        $(`#nettest_item${currentIndex}`).html('<span class="badge bg-green me-1 mb-1">是</span>');
        $(`#nettest_item${currentIndex}_time`).html(`<span class="text-green">${ret.time}</span>`);
      } else {
        $(`#nettest_item${currentIndex}`).html('<span class="badge bg-red me-1 mb-1">否</span>');
        $(`#nettest_item${currentIndex}_time`).html(`<span class="text-red">${ret.time}</span>`);
      }
      currentIndex++;
      net_test_ajax(targets, currentIndex, stopindex)
    });
  }

  // 初始化DropZone
  dropzone = new Dropzone("#back_file");
  dropzone.options.acceptedFiles = ".zip";
</script>