# 【配置注意要符合yaml語法，:號後有1個空格，不能使用全形標點符號】
# 【最新版本已經可以透過WEB頁面對所有配置項進行配置，推薦使用WEB頁面進行配置】
# 【檔案轉移方式的說明】
#   目前支援的檔案轉移方式：link、copy、softlink、move、rclone、rclonecopy，link即硬連結、softlink為軟連結、copy為複製、move為移動、rclone針對rclone網盤掛載（rclone為移動、rclonecopy為複製）
#   link要求源目錄和目的目錄或媒體庫目錄在一個磁碟分割槽或者儲存空間，Docker執行時link模式需要直接對映源目錄和目的目錄或媒體庫目錄的上級目錄，否則docker可能仍然會認為是跨盤
#   softlink模式注意宿主機的源目錄對映到docker容器中後要路徑要一致，否則可能軟連結成功但無法在宿主機使用
#   copy模式會直接複製一份檔案資料
#   move會直接移動原檔案，會影響做種，請謹慎使用
#   rclone需要自行對映rclone配置目錄到容器中，或在容器內完成rclone配置
app:
  # 【日誌記錄型別】：server、file、console
  # 如果是使用Docker安裝建議設定為console，透過Docker管理器檢視日誌
  # 如果是使用群暉套件建議配置為 server，可將日誌輸出到群暉的日誌中心便於檢視
  # 其它情況可以設定為file，將日誌寫入檔案
  logtype: console
  # 【日誌檔案的路徑】：logtype為file時生效
  logpath:
  # 【群暉日誌中心IP和埠】：logtype為SERVER時生效。埠一般是514，只需要改動IP為群暉的IP，示例：127.0.0.1:514
  logserver: 127.0.0.1:514
  # 【日誌級別】：info、debug、error
  loglevel: info
  # 【WEB管理介面監聽地址】：如需支援ipv6需設定為::，如::無法訪問可改為0.0.0.0
  web_host: '::'
  # 【WEB管理介面埠】：預設3000
  web_port: 3000
  # 【WEB管理頁面登入使用者】，預設admin
  login_user: admin
  # 【WEB管理頁面登入密碼】：預設password，如果是全數字密碼，要用''括起來
  login_password: password
  # 【WEB管理介面使用的HTTPS的證書和KEY的路徑】，留空則不啟用HTTPS
  ssl_cert:
  ssl_key:
  # 【TMDB API KEY】：需要在https://www.themoviedb.org/申請，必須配置，否則無法識別媒體資源和重新命名
  # 以下地址需要網路能夠正常訪問：api.themoviedb.org、webservice.fanart.tv
  rmt_tmdbkey:
  # 【使用TMDB伺服器域名】：api.themoviedb.org、api.tmdb.org，如api.themoviedb.org無法訪問可償試使用api.tmdb.org
  tmdb_domain: api.tmdb.org
  # 【TMDB匹配模式】：normal、strict，normal模式下如使用檔名/種子名中的年份無法匹配到媒體資訊，會去掉年份再匹配一次；strict模式則嚴格按檔案中年份匹配
  # normal模式下會提升識別成功率，但也可能會導致誤識別率增加；strict模式可以降低誤識別率，但可能導致很多檔名/種子名中年份不正確的無法被識別（特別是劇集，需要是首播年份）
  rmt_match_mode: normal
  # 【設定代理】，themoviedb、fanart、telegram等將使用代理訪問，http和https均需配置，可以是http也可以是socks5，但需要帶http或socks5字首，兩項可以配置為一樣，留空則不啟用
  # 示例：'http://127.0.0.1:7890' 'socks5://127.0.0.1:8018'
  proxies:
    http:
    https:
  # 【本系統的WEB的外網地址】：需要是外網IP或者域名，需要包含埠，用於微信/Telegram資訊點選跳轉，如不需要可配空
  # 示例：http://IP:3000
  domain: ''
  # 【UserAgent】：可適當修改，用於站點簽到、豆瓣資料抓取等
  user_agent: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36"
  # 【登入介面桌布】：themoviedb、bing，設定為themoviedb時需要配置TMDB API Key時才生效
  wallpaper: bing

# 【配置媒體庫資訊】
media:
  # 【媒體庫管理軟體】：emby、jellyfin、plex，需要在emby或jellyfin或plex區配置詳細資訊，用於下載檢查控重、媒體庫展示等，建議配置
  media_server: emby
  # 【媒體庫資料同步週期】：定時同步媒體伺服器資料到本地，單位小時
  mediasync_interval: 12
  # 【媒體庫電影檔案存放目錄】：支援配置多個目錄，不同的硬碟需對映為不同的根目錄，以更於程式區分
  movie_path:
  # 【媒體庫電視劇檔案存放目錄】：支援配置多個目錄，不同的硬碟需對映為不同的根目錄，以更於程式區分
  tv_path:
  # 【媒體庫動漫檔案單獨存放目錄】：支援配置多個目錄，不同的硬碟需對映為不同的根目錄，以更於程式區分
  # 如果設定了該目錄，則所有動漫電視劇都會識別為動漫並存放在該目錄下，否則動漫電視劇會識別為電視劇並存放在電視劇目錄分類下；動漫電影仍然在電影目錄分類下
  anime_path:
  # 【無法識別時轉移存放的目錄】：如有多個磁碟，需要對應配置多個目錄，否則跨盤無法硬連結
  # 注意：如果你在sync區域配置了未識別目錄，由會優先轉移到對應未識別目錄下，只有下載檔案轉移及sync未配置未識別目錄時才會使用該目錄
  # 未識別的記錄同時會在媒體整理->手動識別下面出現，unknown_path只是硬連結一份用於備份，同時手工識別處理後程式也不會主動刪除，如果不想要多硬連結一份，可以不配置該目錄
  unknown_path:
  # 【二級分類開關】：電影/電視劇/動漫是否需要二級分類，啟用二級分類後會在電影/電視劇/動漫目錄下按二級分類名建立子目錄
  # 此處配置分類的策略名，配置檔案目錄中需要有與策略名同名的.yaml配置檔案
  # 預設策略default-category分類設定可參考"default-category.yaml"，分類參見README.MD說明
  # 如不需要啟動分類，則該項配置為空
  category: 'default-category'
  # 【轉移到媒體庫的最小檔案大小】：避免預告片/MV等影響識別，單位M
  min_filesize: 150
  # 【檔案轉移忽略詞】：檔名包含忽略詞，忽略轉移
  ignored_files:
  # 【轉移資料夾黑名單】：檔案上級資料夾在黑名單中，忽略轉移
  ignored_paths:
  # 【洗版開關】：如開啟則則新下載了更大的檔案會覆蓋媒體庫目錄中已有的檔案
  filesize_cover: true
  # 【電影命名定義】：程式會按定義的命名格式對電影進行重新命名；/代表上下級目錄，{}內為佔位符；佔位符會使用檔案識別出來的實際值替換；佔位符外的字元會當成普通字元，直接體現在名稱上
  # 電影占位符有：{title}：標題，{en_title}：英文標題，{original_title}：原語種標題，{original_name}：原檔名，{year}：年份，{edition}：版本(Bluray/WEB-DL等)，{videoFormat}：解析度(1080p/4k等)，{videoCodec}：影片編碼，{audioCodec}：音訊編碼及聲道，{tmdbid}：TMDB的ID，{part}：part1/disc1/dvd1，{releaseGroup}：製作組/字幕組等
  movie_name_format: '{title} ({year})/{title}-{part} ({year}) - {videoFormat}'
  # 【電視劇命名定義】：程式會按定義的命名格式對電視劇進行重新命名；/代表上下級目錄，{}內為佔位符；佔位符會使用檔案識別出來的實際值替換，佔位符外的字元會當成普通字元，直接體現在名稱上
  # 電視劇佔位符有：{title}：標題，{en_title}：英文標題，{original_title}：原語種標題，{original_name}：原檔名，{year}：年份，{edition}：版本(Bluray/WEB-DL等)，{videoFormat}：解析度(1080p/4k等)，{videoCodec}：影片編碼，{audioCodec}：音訊編碼及聲道，{tmdbid}：TMDB的ID，{season}：季數，{episode}：集數，{season_episode}：劇集SxxExx，{part}：part1/disc1/dvd1，{releaseGroup}：製作組/字幕組等
  tv_name_format: '{title} ({year})/Season {season}/{title}-{part} - {season_episode} - 第{episode}集'
  # 【刮削後設資料及圖片】：開啟後檔案轉移完成時會自動生成nfo描述檔案及poster海報，協助媒體伺服器識別和搜刮
  nfo_poster: false
  # 【實時重新整理媒體庫】：開啟後檔案轉移完成時會實時重新整理媒體伺服器（Emby/Jellyfin/Plex）的媒體庫
  refresh_mediaserver: true

# 配置Emby伺服器資訊
emby:
  # 【Emby伺服器IP地址和埠】：注意區分http和https，http時可以不加http://，https時必須加https://
  host: http://127.0.0.1:8096
  # 【Emby ApiKey】：在Emby設定->高階->API金鑰處生成，注意不要複製到了應用名稱
  api_key:

# 配置Jellyfin伺服器資訊
jellyfin:
  # 【Jellyfin伺服器IP地址和埠】：注意區分http和https，http時可以不加http://，https時必須加https://
  host: http://127.0.0.1:8096
  # 【Jellyfin ApiKey】：在Jellyfin設定->高階->API金鑰處生成
  api_key:

# 配置Plex伺服器資訊
plex:
  # 【Plex伺服器IP地址和埠】：注意區分http和https，http時可以不加http://，https時必須加https://
  host: http://127.0.0.1:32400
  # 【X-Plex-Token】：Plex頁面Cookie中的X-Plex-Token，如填寫token則無需填寫servername、username、password
  token:
  # 【Plex伺服器的名稱】
  servername:
  # 【Plex使用者名稱】
  username:
  # 【Plex使用者密碼】
  password:

# 【配置nfo刮削資訊】
scraper_nfo:
  # 電影
  movie:
    basic: true
    credits: true
    credits_chinese: true
  # 電視劇
  tv:
    basic: true
    credits: true
    credits_chinese: true
    # 季
    season_basic: true
    # 集
    episode_basic: true
    episode_credits: true

# 【配置圖片刮削資訊】
scraper_pic:
  # 電影
  movie:
    poster: true
    backdrop: true
    background: true
    logo: true
    disc: true
    banner: true
    thumb: true
  # 電視劇
  tv:  
    poster: true
    backdrop: true
    background: true
    logo: true
    clearart: true
    banner: true
    thumb: true
    # 季
    season_poster: true
    season_banner: true
    season_thumb: true

# 【配置訊息通知服務】
message:
  # 【Emby播放狀態通知白名單】：配置了Emby webhooks外掛回撥時，使用者播放媒體庫中的媒體時會傳送訊息通知，本處配置哪些使用者的裝置不通知，避免打擾，配置格式：使用者:裝置名稱，可用 - 增加多項
  webhook_ignore:

# 【配置資料夾監控】：資料夾內容發生變化時自動識別轉移
sync:
  # 監控目錄配置已轉移至資料庫
  # 【監控目錄作業系統型別】：windows、linux。如果是windows，目錄同步功能效能會比較差，會導致NAS不能休眠，除非是掛載的windows的遠端共享目錄或者是windows的docker，否則建議設定為linux
  nas_sys: linux

# 【配置站點檢索資訊】
pt:
  # 【下載使用的客戶端軟體】：qbittorrent、transmission、client115、aria2
  pt_client: qbittorrent
  # 【下載軟體監控開關】：是否監控下載軟體：true、false，如為true則下載完成會自動轉移和重新命名，如為false則不會處理
  # 下載軟體監控與Sync下載目錄同步不要同時開啟，否則功能存在重複
  pt_monitor: false
  # 【只監控NASTool新增的下載】：啟用後只有NASTool新增的下載才會被自動轉移和顯示，關閉則下載軟體中所有的任務都會轉移和顯示
  pt_monitor_only: true
  # 【下載完成後轉移到媒體庫的轉移模式】：link、copy、softlink、move、rclone、rclonecopy、minio、miniocopy，詳情參考頂部說明
  rmt_mode: link
  #【聚合檢索使用的檢索器】：jackett、prowlarr、builtin，需要配置jackett或prowlarr對應的配置區域，builtin為內建索引器需要在配置檔案目錄/sites目錄下存入對應的站點配置檔案
  # 1、透過微信傳送關鍵字，實時檢索下載，傳送格式示例：電視劇 西部世界、西部世界第1季、西部世界第1季第2集、西部世界 2022，只會匹配真實名稱，命中後會自動下載，使用說明參考：https://github.com/kindomLee/nas-tools/wiki/
  # 2、使用WEB UI中的搜尋介面搜尋資源，會識別顯示真實名稱，並顯示媒體圖片和評分等資訊，會同時匹配種子名稱跟真實名稱
  search_indexer: builtin
  # 【內建索引器使用的站點】：只有在該站點列表中內建索引器搜尋時才會使用
  indexer_sites:
  # 【遠端搜尋自動擇優下載開關】：如開啟則微信等渠道搜尋後會自動擇優選擇一項下載，如不開啟則需要手工點選進入WEB頁面選擇下載
  # 如沒有配置app.domain或無公網環境建議開啟，否則無法跳轉WEB頁面手工選擇
  search_auto: true
  # 【遠端下載不完整自動訂閱】：如開啟，遠端搜尋下載不完整時，會自動新增RSS訂閱
  search_no_result_rss: false
  # 【站點每日簽到時間】
  # 兩種配置方法，1、配置間隔，單位小時，建議不要設定為24小時的整數倍，避免每天的簽到時間一樣。2、配置固定時間，如'08:00'，注意要加引號和冒號。3、配置時間範圍，如08:00-09:00，表示在該時間範圍內隨機執行一次
  ptsignin_cron: '08:01'
  # 【RSS訂閱開關】：此處配置RSS訂閱檢查時間間隔，即每隔多長時間檢查一下各站點是否有資源更新，建議不要少於30分鐘，單位時間為秒
  # 配置為空或者0則不啟用RSS訂閱功能
  pt_check_interval: 1800
  # 【定量搜尋RSS開關】：開啟後，每隔與置時間會透過站點資源檢索的方式查詢和下載訂閱，單位：天，不配置則為關
  search_rss_interval: 1
  # 【下載優先規則】：訂閱及遠端搜尋下載將按此優先規則選擇下載資源，字典：site 站點優先、seeder做種數優先
  download_order: site
  # 【搜尋結果數量限制】：每個站點返回搜尋結果的最大數量
  site_search_result_num: 100

# 【配置Jackett檢索器】
jackett:
  # 【Jackett地址】：Jackett地址和埠，格式：http(s)://IP:PORT
  host:
  # 【Jackett ApiKey】：Jackett配置頁面右上角複製API Key
  api_key:
  # 【Jackett管理密碼】：如未設定可為空
  password:

# 【配置prowlarr檢索器】
prowlarr:
  # 【Prowlarr地址】
  host:
  # 【Prowlarr ApiKey】：Prowlarr設定頁面獲取API Key
  api_key:

# 【配置qBittorrent下載軟體】：pt區的pt_client如配置為qbittorrent則需要同步配置該項
qbittorrent:
  # 【qBittorrent IP地址和埠】：注意如果qb啟動了HTTPS證書，則需要配置為https://IP
  qbhost:
  qbport:
  # qBittorrent 登入使用者名稱和密碼
  qbusername:
  qbpassword:
  # 轉移完成後是否自動強制作種，按需要設定
  force_upload: true
  # 是否開始自動管理模式
  auto_management: false

# 【配置transmission下載軟體】：pt區的pt_client如配置為transmission則需要同步配置該項，需要3.0以上版本，否則可能會報錯
transmission:
  # 【transmission IP地址和埠】：注意如果tr啟用了HTTPS證書，則需要配置為https://IP
  trhost:
  trport:
  # transmission 登入使用者名稱和密碼
  trusername:
  trpassword:

# 配置 115 網盤下載器
client115:
  # 115 Cookie 抓包獲取
  cookie:

# 配置Aria2下載器
aria2:
  # Aria2地址
  host:
  # Aria2 RPC埠
  port:
  # 密碼令牌
  secret:

# 【下載目錄】：配置下載目錄，自按分類下載到指定目錄
downloaddir:

# 【配置豆瓣賬號資訊】：配置後會自動同步豆瓣收藏，豆瓣標記想看內容後，後臺自動下載
douban:
  # 【使用者ID列表】：豆瓣電影點個我主頁people後面的那一串數字，或者使用豆瓣App個人資訊中檢視。可以配置多個，注意要加引號
  # 這裡可以是自己的，也可以是別人的，比如填寫幾個大V的賬號ID，實現熱門影視自動下載
  users:
    - ''
  # 【豆瓣Cookie】：選配，嫌麻煩的可以不用配置，可能影響個別電影的同步
  cookie:
  # 【同步天數】：同步多少天內加入的資料
  days: 30
  # 【同步間隔】：多久同步一次資料，單位小時，建議不要太頻繁，避免被檢測到後封號
  interval:
  # 【同步資料型別】：同步哪些型別的收藏資料：do 在看，wish 想看，collect 看過，用逗號分隔配置
  types: 'wish'
  # 【自動開載開關】：同步到豆瓣的資料後是否自動檢索站點並下載（需要配置Jackett）
  auto_search: true
  # 【自動新增RSS開關】：站點檢索找不到的記錄是否自動新增RSS訂閱（可實現未搜尋到的自動追更）
  auto_rss: true

# 【配置字幕自動下載】
subtitle:
  # 【下載渠道】：opensubtitles、chinesesubfinder
  server: opensubtitles
  # opensubtitles.org
  opensubtitles:
    # 是否啟用
    enable: true
  # 配置ChineseSubFinder的伺服器地址和API Key，API Key在ChineseSubFinder->配置中心->實驗室->API Key處生成
  chinesesubfinder:
    # IP地址和埠
    host:
    # API KEY
    api_key:
    # NASTOOL媒體的對映路徑
    local_path:
    # ChineseSubFinder媒體的對映路徑
    remote_path:

# 【配置安全】
security:
  # 【媒體伺服器webhook允許ip範圍】：即只有如下範圍的IP才允許呼叫webhook
  media_server_webhook_allow_ip:
    ipv4: 0.0.0.0/0
    ipv6: ::/0
  # 【Telegram webhook允許ip範圍】：即只有如下範圍的IP才允許呼叫webhook
  telegram_webhook_allow_ip:
    ipv4: 127.0.0.1
    ipv6: ::/0
  # 【API認證金鑰】：用於Jellyseerr、Overseerr中Authorization認證以及非客戶端類的API呼叫
  api_key:

# 【實驗室】
laboratory:
  # 【識別增強】關鍵字猜想
  search_keyword: false
  # 【識別增強】透過TMDB WEB檢索
  search_tmdbweb: false
  # 【TMDB快取過期策略】：是否開啟TMDB快取過期策略，預設7天過期，過期快取將被刪除,  7天內訪問過期時間可以被重新整理
  tmdb_cache_expire: true
  # 【使用豆瓣名稱聯想】：開啟將使用豆瓣進行電影電視劇的名稱聯想，否則使用TMDB的資料
  use_douban_titles: false
  # 【精確搜尋使用英文名稱】：開啟後對於精確搜尋場景（遠端搜尋、訂閱搜尋等）將會使用英文名檢索站點資源以提升匹配度，但對有些站點資源標題全是中文的則需要關閉，否則匹配不到
  search_en_title: true
  # 【使用TMDB代理】
  tmdb_proxy: false
